<div class="container" style="padding-top:60px">
    <div class="row">
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                </p>
            </article>
    </div>
</div>